@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

._container{
    max-width: 1080px;
    margin: 0 auto;

    position: relative;
}

.entry{
    height: 100vh;
    padding-top: 40px;

    background-image: url("../source/img/Rectangle\ 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    color: #FFFFFF;
}

header, menu, .contact, .numbers, .soc-icons{display: flex;}

header{
    justify-content: space-between;

    menu{
        flex-direction: column;
        justify-content: space-around;

        .contact{
            .numbers{
                font-size: 24px;
                align-items: center;
            
                .number-2{
                    margin-left: 13px;
                    padding-right: 10px;
                }
            
                img{
                    margin-right: 10px;
                }
            }
    
            .icon{
                width: 32px;
            
                margin-left: 20px;
            }
        }

        nav {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        
            ul{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.basis{
    margin-top: 70px;

    .basis-content{
        width: 520px;

        .title{
            padding-top: 40px;

            font-size: 60px;
            line-height: 120%;
            color: #E7742E;
        }

        .subtitle-1{
            margin-top: 30px;

            font-size: 24px;
            line-height: 130%;
        }

        .subtitle-2{
            margin-top: 12px;

            font-size: 24px;
            line-height: 130%;
            color: #E7742E;
        }

        .call_master{
            margin-top: 62px;

            padding: 18px 32px;
            width: 321px;
            height: 65px;

            background: radial-gradient(50% 50% at 50% 50%, #F7A70C 0%, #E7742E 100%);
            border-radius: 10px;

            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #0B1427;
            text-transform: uppercase;
        }
    }

    .man{
        img{
            position: absolute;
            z-index: 2;
    
            left: calc(50% - 546px/2 + 337px);
            top: 204px;
        }
    
        .man-blur{
            width: 546px;
            height: 442px;
            background: rgba(244, 122, 55, 0.3);
            filter: blur(137px);
    
            left: calc(50% - 546px/2 + 337px);
            top: 204px;
    
            position: absolute;
        }
    }
}

